		<section class="f1-footer">
			<div class="f1-apps">
				<div class="container f1-app-container d-flex">
					<ul class="d-flex list-unstyled gap-3 m-0">
						<li style="max-width:8rem">DOWNLOAD THE OFFICIAL F1 APP</li>
						<li>
							<a>
								<img height="40" src="/media/images/google-play-badge.png" />
							</a>
						</li>
						<li>
							<a>
								<img height="40" src="/media/images/download-on-the-app-store-apple.png" />
							</a>
						</li>
					</ul>
					<ul class="d-flex list-unstyled gap-3 m-0">
						<li>
							<a>
								<img class="socials-image" src="/media/images/socials/facebook.png" />
							</a>
						</li>
						<li>
							<a>
								<img class="socials-image" src="/media/images/socials/instagram.png" />
							</a>
						</li>
						<li>
							<a>
								<img class="socials-image"  src="/media/images/socials/x.png" />
							</a>
						</li>
						<li>
							<a>
								<img class="socials-image"  src="/media/images/socials/youtube.png" />
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="f1-sponsors">
				<h1 class="text-center text-white">Our Sponsors</h1>
				<div class="f1-sponsors-list">
					<ul class="d-flex list-group-horizontal list-unstyled gap-3 justify-content-center">
						<li>
							<a>
								<img height="70" src="/media/images/sponsors/default.png" />
							</a>
						</li>
						<li>
							<a>
								<img height="70" src="/media/images/sponsors/default.png" />
							</a>
						</li>
						<li>
							<a>
								<img height="70" src="/media/images/sponsors/default.png" />
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Add these Later -->
			<div class="f1-extra-links">

			</div>
			<!-- Also Add F1 Logo and Trademark Later-->
		</section>